[user]
	name = Mike Dalessio
	email = mike@csa.net
[core]
	compression = 1
	loosecompression = 1
[merge]
	tool = meld
[branch]
        autosetupmerge = true
[alias]
        d = diff -w -b
        c = commit -v
        s = status
