[user]
	name = Mike Dalessio
	email = mike@csa.net
[core]
	compression = 1
	loosecompression = 1
[merge]
	tool = meld
[branch]
        autosetupmerge = true
[alias]
        d = diff -w -b
        c = commit -v
        s = status
		w = whatchanged
[gui]
	fontui = -family \"bitstream vera sans\" -size 9 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"bitstream vera sans mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0

# plain (context text), meta (metainformation), frag (hunk header), old (removed lines), new (added lines),
# commit (commit headers), or whitespace (highlighting whitespace errors)
#
# normal, black, red, green, yellow, blue, magenta, cyan and white
[color]
        diff = true
[color.diff]
        new = yellow bold
        old = yellow
