[github]
	user = flavorjones
	token = 34752b38ba090a9bacddf2fe66b4e985
[user]
	name = Mike Dalessio
	email = mike@csa.net
[github]
	token = 34752b38ba090a9bacddf2fe66b4e985
	user = flavorjones
[core]
	compression = 1
	loosecompression = 1
	excludesfile = /home/mike/.gitignore
[merge]
	tool = meld
[branch]
        autosetupmerge = true
[alias]
        d = diff -w -b
        c = commit -v
        s = status
	w = whatchanged
[gui]
	fontui = -family \"bitstream vera sans\" -size 9 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"bitstream vera sans mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[push]
        default = current

# diff: plain (context text), meta (metainformation), frag (hunk header), old (removed lines), new (added lines),
# commit (commit headers), or whitespace (highlighting whitespace errors)
#
# status: header (header text), added or updated, changed, untracked, nobranch
#
# normal, black, red, green, yellow, blue, magenta, cyan and white
[color]
        status = true
        diff = true
[color.status]
        added = blue bold
        changed = yellow bold
        untracked = red bold
[color.diff]
        new = yellow bold
        old = yellow
[diff]
        renames = copies
[alias]
        co = checkout
        ci = commit
