[user]
        name = Mike Dalessio
        email = mike@csa.net
[github]
        user = flavorjones
        token = 34752b38ba090a9bacddf2fe66b4e985
[core]
        compression = 1
        loosecompression = 1
        excludesfile = /home/mike/.gitignore
        abbrev = 7
[merge]
        tool = meld
[branch]
        autosetupmerge = true
[push]
        default = current
[diff]
        renames = copies
[alias]
        d = diff -w -b
        ds = diff -w -b --staged
        c = commit -v
        s = status
        ss = status --short
        w = whatchanged
        co = checkout
        ci = commit
        wd = diff -w -b --word-diff-regex="[^[:space:]_:.,()]+"
[gui]
        fontui = -family \"bitstream vera sans\" -size 9 -weight bold -slant roman -underline 0 -overstrike 0
        fontdiff = -family \"bitstream vera sans mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0

# diff: plain (context text), meta (metainformation), frag (hunk header), old (removed lines), new (added lines),
# commit (commit headers), or whitespace (highlighting whitespace errors)
#
# status: header (header text), added or updated, changed, untracked, nobranch
#
# normal, black, red, green, yellow, blue, magenta, cyan and white
[color]
        ui = true
        status = true
        diff = true
[color.status]
        added = blue bold
        changed = yellow bold
        untracked = red bold
[color.diff]
        new = yellow bold
        old = yellow
[merge "railsschema"]
        # from http://nuclearsquid.com/writings/git-tricks-tips-workflows/
        # in ~/.gitattributes file, add the following line:
        #   db/schema.rb merge=railsschema
        name = newer Rails schema version
        driver = "ruby -e '\n\
                system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
                b = File.read(%(%A))\n\
                b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
                  %(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
                end\n\
                File.open(%(%A), %(w)) {|f| f.write(b)}\n\
                exit 1 if b.include?(%(<)*%L)'"
