[user]
	name = Mike Dalessio
	email = mike.dalessio@gmail.com

[github]
	user = flavorjones

[core]
	compression = 1
	loosecompression = 1
	abbrev = 7

[branch]
	autosetupmerge = true

[push]
	default = current

[diff]
	renames = copies
	compactionHeuristic = true
	wordRegex = "[^[:space:]_:.,()/`]+"

[log]
	abbrevCommit = true
	decorate = short

[alias]
	c = commit -v
	ci = commit
	co = checkout

	d = diff -w -b
	ds = diff -w -b --staged
	dw = diff -w -b --word-diff
	dsw = diff -w -b --word-diff --staged
	lw = log -p --word-diff

	pr = pull --rebase

	ss = status --short
	w = whatchanged
	st = status

	logf = log --pretty=fuller --decorate
	logg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	logl = log --graph --decorate --oneline
	logla = log --graph --decorate --oneline --all

[gui]
	fontui = -family \"bitstream vera sans\" -size 9 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"bitstream vera sans mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0

[color]
	ui = true

	# status: header (header text), added or updated, changed, untracked, nobranch
	status = true

	# diff: plain (context text), meta (metainformation), frag (hunk header), old (removed lines), new (added lines),
	#       commit (commit headers), or whitespace (highlighting whitespace errors)
	diff = true

[color.status]
	added = blue bold
	changed = yellow bold
	untracked = red bold

[color.diff]
	new = yellow bold
	old = yellow

[url "git@github.com:"]
	insteadOf = "gh:" # shorthand

[url "git@github.com:"]
	pushInsteadOf = "https://github.com/" # always push with authn

# need to ssh-auth to read many pivotal repos
[url "git@github.com:pivotal/"]
	insteadOf = "https://github.com/pivotal/"
[url "git@github.com:pivotalservices/"]
	insteadOf = "https://github.com/pivotalservices/"

## because `go get` on private repos is an awful UX
## maybe leave this commented, and uncomment when needed
# [url "git@github.com:"]
#   insteadOf = https://github.com/
