#
#  when my peripherals are attached, either via usb or bluetooth, configure them
#
#  see also home/.xsessionrc in this repo
#
#  it may be helpful in the future to look at output from `udevadm monitor -p` and `lsusb` and `lsusb -t`
#

# "ThinkPad Compact Bluetooth Keyboard with TrackPoint"
ACTION=="bind", SUBSYSTEM=="hid", ATTRS{idVendor}=="0489", ATTRS{idProduct}=="e0a2", RUN+="/bin/su flavorjones -c /home/flavorjones/.xsessionrc"

# "ThinkPad Compact USB Keyboard"
ACTION=="bind", SUBSYSTEM=="hid", ATTRS{idVendor}=="17ef", ATTRS{idProduct}=="6047", RUN+="/bin/su flavorjones -c /home/flavorjones/.xsessionrc"

# "Microsoft Microsoft 3-Button Mouse"
ACTION=="bind", SUBSYSTEM=="hid", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0040", RUN+="/bin/su flavorjones -c /home/flavorjones/.xsessionrc"
