*.cache
*.elc
*~
.emacs
.emacs.desktop*
\#*\#
ac-comphist.dat
auto-save
elpa/*readme.txt
ido.last
projectile-bookmarks.eld
session.*
transient/
var

# package repositories
quelpa/
elpa/archives/

# lsp
.lsp-session-v1
projects