.flavorjonesSearch {
    font-size: .8em;
    line-height: 1.3em;
}
.flavorjonesSearch a {
    color: #111;
    text-decoration: none;
    padding: 0px .2em ;
}
.flavorjonesSearch hr {
    line-height: 5px;
    padding: 0;
    margin: 0;
}
