/* autohide left sidebar */

div.QQYuzf {
    z-index: 1000;
    background-color: rgba(245, 245, 245, 0.7);
    -webkit-box-shadow: 5px 0px 10px 0px rgba(136, 136, 136, 0.7);
    -webkit-transform: translateX(-256px); /* 256 - 20 + 20 */
    -webkit-transition: ease-in 100ms;
    -webkit-transition-delay: 250ms;
    position: absolute;
    height: 100%;
    padding-left: 20px;
}
div.QQYuzf:active,
div.QQYuzf:hover,
div.QQYuzf:focus,
div.QQYuzf:target {
    -webkit-transform: translateX(-20px);
    -webkit-transition: ease-out 100ms;
    -webkit-transition-delay: 0s;
}
/* pad main calendar pane */

div.lYYbjc {
    margin-left: 20px;
}
