/* compose button */
div.z0 {
    display: none ;
}

/* message view right sidebar */
td.Bu.y3 {
    display: none ;
}

/* top search bar, modulo flash alerts */
.nH.oy8Mbf.qp {
    display: none ;
}
