/* hide compose button */

div.z0 {
    display: none;
}
/* autohide left sidebar */

body>div>div.nH>div.nH>div.nH>div.no>:first-child {
    z-index: 1000;
    background-color: rgba(245, 245, 245, 0.7);
    -webkit-box-shadow: 5px 0px 10px 0px rgba(136, 136, 136, 0.7);
    -webkit-transform: translateX(-230px);
    -webkit-transition: ease-in 100ms;
    -webkit-transition-delay: 250ms;
}
body>div>div.nH>div.nH>div.nH>div.no>:first-child:active,
body>div>div.nH>div.nH>div.nH>div.no>:first-child:hover,
body>div>div.nH>div.nH>div.nH>div.no>:first-child:focus,
body>div>div.nH>div.nH>div.nH>div.no>:first-child:target,
body>div>div.nH>div.nH>div.nH>div.no>:first-child.flavorjonesVisible {
    -webkit-transform: translateX(0px);
    -webkit-transition: ease-out 100ms;
    -webkit-transition-delay: 0s;
}
body>div>div.nH>div.nH>div.nH>div.no>:nth-child(2) {
    margin-left: -220px;
}
