[Desktop Entry]
Version=1.0
Name=Reboot
GenericName=Power cycle the system
Comment=Restart
Icon=system-reboot
Exec=systemctl reboot
Terminal=false
Type=Application
Categories=System;
