[Desktop Entry]
Version=1.0
Name=Shutdown System
GenericName=Shut down the system
Comment=Power management
Terminal=false
Type=Application
Categories=System;
Icon=system-shutdown
Exec=systemctl poweroff
