[Desktop Entry]
Version=1.0
Name=Suspend To Memory
GenericName=Go into low power state
Icon=system-suspend
Exec=systemctl suspend
Terminal=false
Type=Application
Categories=System;
